/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./components/participants/participants.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.participants_participants__QicJ9 {
  display: grid;
  grid-gap: 0.5em;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  /* @include respond(mobile) {
      grid-template-columns: 1fr;
  } */
  /* @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
  } */
  /* @include respond(desktop) {
      grid-template-columns: repeat(3, 1fr);
  } */
  /* @include respond(gt, $desktop) {
      grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
  } */
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./components/participant/participant.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.participant_participant__fqyU7 {
  background-color: rgba(11, 31, 53, 0.8);
  padding: 1.5em;
  border-radius: 1em;
  border: solid 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.participant_info__Tg6Jr {
  display: grid;
  grid-gap: 0.5em;
}

.participant_actions__XhNQo {
  display: grid;
  justify-content: center;
  align-items: center;
}

.participant_votes__Q9ITp {
  font-weight: bold;
}
.participant_votesNum__xaaWa {
  font-size: 1.5em;
}

.participant_button__I3UOG {
  cursor: pointer;
  background: transparent;
  border: none;
  width: 70px;
}
.participant_button__I3UOG:disabled {
  cursor: auto;
}

@keyframes participant_fly-up__yBx95 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-60px) scale(1.2);
    opacity: 0;
  }
  70% {
    transform: translateY(-60px) scale(1.2);
    opacity: 0;
  }
  71% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.participant_animate__KPp0c {
  animation: participant_fly-up__yBx95 500ms ease-in forwards;
  pointer-events: none;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./components/avatar/Avatar.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Avatar_info__HSNC_ {
  display: grid;
  grid-gap: 0.5em;
}

.Avatar_avatar__CmOx4 {
  position: relative;
  aspect-ratio: 1/1;
  max-width: 127px;
  min-width: 70px;
}
.Avatar_avatar__CmOx4 img {
  -webkit-mask: url("/star-mask.svg");
  mask: url("/star-mask.svg");
}
