.info {
    display: grid;
    grid-gap: 0.5em;
}

.avatar {
    position: relative;
    aspect-ratio: 1/1;
    max-width: 127px;
    min-width: 70px;
    // -webkit-mask: url('#star-mask');
    // mask: url('#star-mask');
    mask-composite: add;
    mask-mode: alpha;
}
