$golden-ratio: 1.618;

$minWidth: 320px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;

$backgroundColor: #0b1f35;
$disabled: #848484;
$textColor: white;
$borderColor: white;

:export {
    minWidth: $minWidth;
    mobile: $mobile;
    tablet: $tablet;
    desktop: $desktop;
}
