@use 'sass:color';

@use './service/constants.module' as *;

.template {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    background: color.scale($backgroundColor, $lightness: 7%) center center /
        cover no-repeat;
}

.main {
    color: $textColor;
    display: grid;
    padding: 0.5em;
    align-content: start;
}
